@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Tema por defecto (light) */
:root {
  --background: #f9fafb;
  --foreground: #1e293b;
  --foreground-paragraph: #586474;
  --accent: #3b82f6;
  --hover: #2563eb;
  --details: #cbd5e1;

  --font-inter: var(--font-inter);
}

/* Tema oscuro */
[data-theme="dark"] {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --foreground-paragraph: #bac1c9;
  --accent: #3b82f6;
  --hover: #60a5fa;
  --details: #334155;
}
